*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}

/*Nav*/

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(42, 46, 78);
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: white;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: white;
	margin: 5px;
	background-color: white;

}

.logo {
	height:100px;
}
.logo img{
	height: 100px;
}

a{
	text-decoration: none;
	color:white;

}

.text{
	height: 22px;
	color: white;
}

/*End nav */
.container{
	min-height: 100vh;
	width: 100%;
}


nav.color {
	background:rgba(42, 46, 78,.9);
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding:20px;
	background-color:rgb(42, 46, 78);
	color: white;
	text-align: center;

}



/*media queries*/

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 9vh;
			background-color: rgba(42, 46, 78,0.8);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;
		
			
		}
		#source{

			margin-right: 0px;
			padding: 20px;		

		}
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

		.nav-active{
		transform: translateX(0%);
	}
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}
