*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

/*Nav*/

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(42, 46, 78);
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: white;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: white;
	margin: 5px;
	background-color: white;

}

.logo {
	height:100px;
}
.logo img{
	height: 100px;
}


a{
	text-decoration: none;
	color:white;

}

.text{
	height: 22px;
	color: white;
}

/*End nav */
.container{
	min-height: 100vh;
	width: 100%;
}


nav.color {
	background:rgba(42, 46, 78,.9);
}


.sub-container{
	float: right;
	width: 50%;
	
}

.sub-container h1{
	margin-top: 100px;
	text-align: center;
	color: orange;
}
.textbox{
	justify-content: center;
	width: 80%;
	
}
.comment{
	justify-content: center;
	width: 80%;
}

.sub-container1{
	float: left;
	width: 50%;
	padding-top:120px;
}


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.forms{
	float: right;
	max-width: 100%;
	text-align: center;
}
.forms input{
	margin-top: 10px;
	border-radius: 25px;
	margin-bottom: 10px;
}
.forms textarea{
	margin-top: 10px;
	border-radius: 15px;
	margin-bottom: 10px;
}



.footer {
	width: 100%;
	padding:20px;
	background-color:rgb(42, 46, 78);
	color: white;
	text-align: center;

}

.sub-container a{
	color:orange;
	margin:2px;
}

/*media queries*/

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 9vh;
			background-color: rgba(42, 46, 78,0.8);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;

			
		}
		#source{

			margin-right: 0px;
			padding: 20px;		

		}
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

		.nav-active{
			transform: translateX(0%);
		}

		.container{
			min-height: 100vh;
			width: 100%;

		}

		.sub-container{
			width: 100%;
			height: 50vh;	
			padding-top: 0;
		}

		.sub-container h1{
			font-size: medium;
			text-align: center;	
			padding-bottom: 0;
		}
		.sub-container1{
			margin-top: 90px;
			width: 100%;
			height: 43vh;	
			padding-top: 0;
			margin-bottom: 0;
		}

		.textbox {
			margin-top: 0;
			justify-content: center;
		}
		.comment{
			margin-top: 0;
			justify-content: center;
		
		}
		.map-responsive{
			margin-top: 20px;
		}



	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}
