/*CSS RESETS*/
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

/*Nav*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:rgb(42, 46, 78);
  position: fixed;
  width: 100%;
  margin-top: 0px;
  z-index: 1;
  font-family: 'Advent Pro', sans-serif;

}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;

}
.nav-links:active {
  text-decoration: blink;
}
.nav-links li {
  list-style: none;

}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links a:active {
  color: white;

}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  height: 5px;
  width: 25px;
  color: white;
  margin: 5px;
  background-color: white;

}

.logo {
  height:100px;
}
.logo img{
  height: 100px;
}

a{
  text-decoration: none;
  color:white;

}

.stext{
  height: 22px;
  color: white;
}

/*End nav */
.container{
  min-height: 60vh;
  width: 100%;

}

.sub-container{

  margin-top:   50px;
  margin-bottom:  50px;
  text-align:   center;
}


nav.color {
  background:rgba(42, 46, 78,.9);
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding:20px;
  background-color:rgb(42, 46, 78);
  color: white;
  text-align: center;

}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  padding-top: 100px;
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/*Slide show*/


.mySlides {display: none}
img {vertical-align: middle;}

.mySlides .slideImg {
  width:100%;height: 60vh;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left:0;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.mySlides .text{
  background-color:  rgba(0,0,0,0.5);
  border-radius:  10px;
  width:  40%;
  left:  30%
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}



.galleryItem {
 display: inline-block;
 color: #797478;
 width: 33vh;
 height: 30vh;
 margin-left:  20px;
 margin-right:   20px;
}

/*.galleryItem:after{content:""; display: inline-block; width: 100%; height: 0;}*/

.galleryItem img{
  width: 100%;
  height: 20vh;
}

.galleryItem h3{
  text-align: center;
  color:orange;
}


.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(42, 46, 78);
  color: white;
  text-align: center;

}



/*media queries*/

@media screen and (max-width:1024px){
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;

  }

  @media screen and (max-width:760px){
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 9vh;
      background-color: rgba(42, 46, 78,0.8);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      
    }
    #source{

      margin-right: 0px;
      padding: 20px;    

    }
    .nav-links li {
      opacity: 70%;
    }
    .burger {
      display: block;
    }
    .container {
      min-height: 43vh;
      width: 100%;}

      .sub-container{
        margin-top:   10px;
        margin-bottom:  70px;
      }

      .prev, .next,.text {font-size: 11px}

      .mySlides
      img {height:31vh; width: 100%;} 

      .mySlides .slideImg {
        width:100%;height: 31vh;
      } 
      .mySlides .text{
        background-color:   rgba(0,0,0,0.5);
        border-radius:  10px;
        width:  40%;
        left:  30%
      }
      .nav-active{
        transform: translateX(0%);
      }


      .galleryItem img{
       width: 33vh;
       height: 30vh;
     }

     .galleryItem h3{
      margin-top: 0 auto;
    }
    .galleryItem {
      color: #797478;
      width: 33vh;
      height: 30vh;


    }

    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);

      }
    }
