*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}

.container{
	min-height: 100vh;
	width: 100%;
}

.container img{
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.content h1{
	z-index: 9998;
	top:30%;
	left:35%;
	color: white;
	position: absolute;
	font-size: 50px;
	background-color: rgba(42, 46, 78,0.8);
}
.submitButton{
	z-index: 9999;
	top: 42%;
	left: 43%;
	position: absolute;
	justify-content: center;
	color: white;
	background-color: transparent;
	height: 70px;
	width: 15%;
	border: 2px solid white;
  	border-radius: 20px 20px;
  	text-align: center;
  	font-size: 20px;
  	background-color: rgba(42, 46, 78,0.8);
}
a{
	text-decoration: none;
	color: white;
}
@media screen and (max-width:1024px){

	}
		@media screen and (max-width:760px){
			.content h1{
				z-index: 9998;
				top:30%;
				left:25%;
				background-color:rgba(42, 46, 78,0.8);
				height: 30px;
				color: white;
				position: absolute;
				font-size: 20px;
			}
			.submitButton{
				height: 5%;
				width: 50%;
				top: 35%;
				left: 25%;
				background-color: rgba(42, 46, 78,0.8);
				height: 30px;
			}
}