/* CSS Reset*/

*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

/*Nav*/

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(42, 46, 78);
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: white;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: white;
	margin: 5px;
	background-color: white;

}

.logo {
	height:100px;
}
.logo img{
	height: 100px;
}


.text{
	height: 22px;
	color: white;
}

/*End nav */
.container{
	min-height: 100vh;
	width: 100%;
	padding-bottom:5vh;
}


nav.color {
	background:rgba(42, 46, 78,.8);
}



.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding:20px;
	background-color:rgb(42, 46, 78);
	color: white;
	text-align: center;

}






.first-content img{
	margin-top: 100px;
	width: 100%;
	height: 50vh;
}

.hh{
	position: absolute;
	color: rgb(245, 245, 245);
	background-color: rgba(1,1,1,0.5);
	top:50%;
	text-align: center;
	left: 25%;
	font-size: 40px;
}




.second-content h1{
	text-align: center;
}

.row {
	padding-top: 20px;
	display: inline-block;
}

.card1{
	padding: 20px;
	width: 33%;
	float: left;
}

.card2{
	padding: 20px;
	width: 33%;
	float: left;
}

.card3{
	padding:20px;
	width: 33%;
	float: left;
}


.card1 i{
	text-align: center;
	display: block;
}

.card2 i{
	text-align: center;
	display: block;
}
.card3 i{
	text-align: center;
	display: block;
}

.card1, .card2, .card3 p{
	text-align: justify;
}


.card1:hover{
	background-color: red;
}

.card2:hover{
	background-color: yellow;
}

.card3:hover{
	background-color: orange;
}
/*media queries*/

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 95vh;
			top: 9vh;
			background-color: rgba(42, 46, 78,0.8);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;			
		}
		
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

		.container{
			padding-bottom: 60px;
			min-height: 100vh;
			width: 100%;

		}
		
		.container img{
			width: 100%;
		}
		
		.first-content .h{
		/*	position: absolute;
			color: rgb(245, 245, 245);
			background-color: rgba(1,1,1,0.5);
			top:55%;
			text-align: center;
			left: 28%;
			font-size: 25px;*/


			position: relative;
			top: 0;
			left:0;
			background-color: rgb(60, 53, 79);
			color: white;
			height: 100px;
			font-size: small;
		}

		.first-content .hh{
			
			/*width: 40vh;
			top:50%;
			text-align: center;
			left: 5%;
			font-size: 20px;
			text-align: justify;*/


			position: relative;
			top: 0;
			left:0;
			background-color: rgb(60, 53, 79);
			color: white;
			width: 100%;
			height: 40px;
				font-size: medium;
		}

		.second-content{
			font-size: x-small;
			text-align: center;
		}
		
		

		.second-content p{
			text-align: justify;
			font-size: x-small;



		}
		.row {
			margin-top: 20px;
		}
		
		.card1, .card2, .card3 {
			/*margin-top: 10px;
			width: 32.5%;
			border:solid orange;
			display: inline-block; ..comment
			height: 40vh;
			margin: 0 auto;*/
			margin-top: 10px;			
			width: 80%;
			display: inline-block; 
			height: 40vh;		
			float: none;	
		}

		h1{
			text-align: center;
		}
		.a p{
			color: black;
			font-size: medium;
			text-align: justify;
		}


		.b p{
			color: black;
			font-size: medium;
			text-align: justify;
		}
		.c p{
			color: black;
			font-size: medium;;
			text-align: justify;
		}

		.card1 i{
			text-align: center;
			display: block;
		}

		.card2 i{
			text-align: center;
			display: block;
		}
		.card3 i{
			text-align: center;
			display: block;
		}
		.card1:hover{
			background-color: white;
		}
		.card2:hover{
			background-color: blue;
		}
		.card3:hover{
			background-color: red;
		}
		
		.nav-active{
			transform: translateX(0%);
		}
	}


	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}







