*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
font-family: 'PT Sans', sans-serif;
}

/*Nav*/

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(42, 46, 78);
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: white;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: white;
	margin: 5px;
	background-color: white;

}

.logo {
	height:100px;
}
.logo img{
	height: 100px;
}


a{
	text-decoration: none;
	color:white;

}

.text{
	height: 22px;
	color: white;
}

/*End nav */
.container{
	min-height: 100vh;
	width: 100%;
	padding-top: 100px;
}


.container h1{
	text-align: center;
	margin-bottom: 10px;
	color: orange;
}

 .desc{
	font-size: large;
	width: 70%;
	margin-left: 15%;
}
.desc p{
	margin-bottom: 20px;
		text-align: justify;
}

.row{
	width: 100%;

}
.section-row-1 {
	min-height: 72vh;
	width: 100%;
}

.section-column-1 img{
	float:left;
	width: 48%;
	height:70vh;
	object-fit: cover;
}
.content-column-1{
	float:right;
	width:50%;
	height:30vh;
	
}
.content-column-1 .content-message-1 h2{
	margin-bottom: 20px;
	color: orange;
	
}
.content-column-1 .content-message-1 p{
	text-align: justify;
	font-size:20px;
	margin-left:2px;
	margin-right:20px;
} 

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding:20px;
	background-color:rgb(42, 46, 78);
	color: white;
	text-align: center;

}


nav.color {
	background:rgba(42, 46, 78,.9);
}




/*media queries*/

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	.section-row-1{
		min-height: 10vh;
	}
	.content-column-1 .content-message-1 h2{
		margin-bottom: 0;
	
	}
	.section-column-1 img{
		float:none;
		width: 100%;
		height: 50vh;
	}
	.content-column-1{
		float:none;
		text-align: center;
		width: 100%;
		height: 15vh;
	}
}
	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 9vh;
			background-color: rgba(42, 46, 78,0.8);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;
		
			
		}
		#source{

			margin-right: 0px;
			padding: 20px;		

		}
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

		.container{
			min-height: 100vh;
			width: 100%;
			padding-bottom: 0;
		}
		.content h1{
			background-color: rgb(60, 53, 79);
			color: white;
			height: 40px;
			font-size: medium;
		}
		
		.content1 h1{
			background-color: rgb(60, 53, 79);
			color: white;
			height: 40px;
			font-size: medium;

		}

		.container img{
				border:solid black
				width:100%;
				height: 40vh;
		}
		.desc{
			text-align: justify;
			width: 100%;
			margin-left: 10px;
			padding-right: 30px;
			padding-left: 10px;
		}
		.section-row img{
			float:none;
			height: auto;
			width: 100%;
			margin-left: 0;
		}
		.section-row .section-content .desc1 p{
			float: none;
			text-align: justify;
			width: 100%;
			margin-left: 10px;
			padding-right: 30px;
			padding-left: 10px;
			margin-bottom: 0;
		}


		.section-row .section-content h1{
		color:orange;
		text-align: center;
		margin-right: 0;
		}
		.footer{
			margin-top: 10px;
		}

		.nav-active{
		transform: translateX(0%);
	}
	.section-row-1{
		width: 100%;
		height:60vh;
	}

	.section-column-1 img{
		float:none;
	}
	.content-column-1{
		float:none;
		text-align: center;
		width: 100%;
	}
	.content-column-1 .content-message-1 h2{
		margin-bottom: 0;
	}
	.content-column-1 .content-message-1 p{
		margin:0 auto;
		text-align: justify;
		font-size:small;
	}
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}
