*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

/*Nav*/

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(42, 46, 78);
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: white;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: white;
	margin: 5px;
	background-color: white;

}

.logo {
	height:100px;
}
.logo img{
	height: 100px;
}


a{
	text-decoration: none;
	color:white;

}

.text{
	height: 22px;
	color: white;
}

nav.color {
	background:rgba(42, 46, 78,.9);
}

/*End nav */
.container{
	min-height: 100vh;
	width: 100%;
	padding-top: 100px;
	
}

.servicesImage {
	height:100vh;
	width: 100%;
	object-fit: cover;
}

.services{
	position:absolute;	
	color: rgb(245, 245, 245);
	background-color: rgba(1,1,1,0.5);
	font-size: 35px;
	top:50%;
	left:45%;
}

/* Second Section */
.section-row-1 {
	min-height: 72vh;
	width: 100%;
}

.section-column-1 img{
	float:left;
	width: 48%;
	height:70vh;
	object-fit: cover;
}
.content-column-1{
	float:right;
	width:50%;
	height:30vh;
	
}
.content-column-1 .content-message-1 h2{
	margin-bottom: 20px;
	color: orange;
	
}
.content-column-1 .content-message-1 p{
	text-align: justify;
	font-size:20px;
	margin-left:2px;
	margin-right:20px;
} 

.button1{
	margin-top: 25px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 25vh;
	transition: all 0.5s;
	cursor: pointer;
}

.button1 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button1 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button1:hover span {
	padding-right: 15px;
}

.button1:hover span:after {
	opacity: 1;
	right: 0;
}
/* End Of First Section */


/* Second Section */
.section-row-2 {
	min-height: 72vh;
	width: 100%;
}

.section-column-2 img{
	float:left;
	width: 48%;
	height:70vh;
	object-fit: cover;
}
.content-column-2{
	float:right;
	width:50%;
	height: 30vh;
	
}
.content-column-2 .content-message-2 h2{
	margin-bottom: 20px;
	color: orange;
	
}
.content-column-2 .content-message-2 p{
	text-align: justify;
	font-size:20px;
	margin-left:2px;
	margin-right:20px;
} 

.button2{
	margin-top: 25px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 25vh;
	transition: all 0.5s;
	cursor: pointer;
}

.button2 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button2 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button2:hover span {
	padding-right: 15px;
}

.button2:hover span:after {
	opacity: 1;
	right: 0;
}
/* End Of Second Section */

/* Third Section */
.section-row-3 {
	min-height: 72vh;
	width: 100%;
}

.section-column-3 img{
	float:left;
	width: 48%;
	height:70vh;
	object-fit: cover;
}
.content-column-3{
	float:right;
	width:50%;
	height: 30vh;
	
}
.content-column-3 .content-message-3 h2{
	margin-bottom: 20px;
	color: orange;
	
}
.content-column-3 .content-message-3 p{
	text-align: justify;
	font-size:20px;
	margin-left:2px;
	margin-right:20px;
} 

.button3{
	margin-top: 25px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 25vh;
	transition: all 0.5s;
	cursor: pointer;
}

.button3 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button3 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button3:hover span {
	padding-right: 15px;
}

.button3:hover span:after {
	opacity: 1;
	right: 0;
}
/* End Of Third Section */

/* Fourth Section */
.section-row-4 {
	min-height: 72vh;
	width: 100%;
}

.section-column-4 img{
	float:left;
	width: 48%;
	height:70vh;
	object-fit: cover;
}
.content-column-4{
	float:right;
	width:50%;
	height: 40vh;
	
}
.content-column-4 .content-message-4 h2{
	margin-bottom: 20px;
	color: orange;
	
}
.content-column-4 .content-message-4 p{
	text-align: justify;
	font-size:20px;
	margin-left:2px;
	margin-right:20px;
} 

.button4{
	margin-top: 25px;
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 25vh;
	transition: all 0.5s;
	cursor: pointer;
}

.button4 span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button4 span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button4:hover span {
	padding-right: 15px;
}

.button4:hover span:after {
	opacity: 1;
	right: 0;
}
/* End Of Fourth Section */

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding:20px;
	background-color:rgb(42, 46, 78);
	color: white;
	text-align: center;

}


/*media queries*/

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;
	}
	.services{
		text-align: center;
		font-size:35px;
		position:static;
		background-color: rgb(60, 53, 79);
	}
	.container{
		width: 100%;
		min-height: 100vh;
		padding-top: 100px;
	}
	.section-row-1{
		min-height: 10vh;
	}
	.content-column-1 .content-message-1 h2{
		margin-bottom: 0;
	
	}
	.section-column-1 img{
		float:none;
		width: 100%;
		height: 30vh;
	}
	.content-column-1{
		float:none;
		text-align: center;
		width: 100%;
		height: 15vh;
	}
	.section-row-2{
		min-height: 10vh;

	}

	.content-column-2 .content-message-2 h2{
		margin-bottom: 0;
	
	}
	.section-column-2 img{
		float:none;
		width: 100%;
		height: 30vh;
	}
	.content-column-2{
		float:none;
		text-align: center;
		width: 100%;
		height: 15vh;

	}
	.section-row-3{
		min-height: 10vh;
	}
	.content-column-3 .content-message-3 h2{
		margin-bottom: 0;
	
	}
	.section-column-3 img{
		float:none;
		width: 100%;
		height: 30vh;
	}
	.content-column-3{
		float:none;
		text-align: center;
		width: 100%;
		height: 15vh;
	}

	.section-row-4{
		min-height: 10vh;
	}

	.content-column-4 .content-message-4 h2{
		margin-bottom: 0;
	
	}
	.section-column-4 img{
		float:none;
		width: 100%;
		height: 30vh;
	}
	.content-column-4{
		float:none;
		text-align: center;
		width: 100%;
		height: 15vh;

	}
}
	@media screen and (max-width:768px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 92vh;
			top: 9vh;
			background-color: rgba(42, 46, 78,0.8);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;


		}
		#source{

			margin-right: 0px;
			padding: 20px;		

		}
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}
		.nav-active{
			transform: translateX(0%);
		}

		.container{
			width: 100%;
			min-height: 100vh;
			padding-top: 100px;
			margin-bottom:10px;
		}
		.container img {
			width: 100%;
			height: 20vh;

		}
		
		.services{
			background-color: rgb(60, 53, 79);
			color: white;
			width: 100%;
			height: auto;
			text-align: center;
			font-size:30px;
			position: static;
		}
		
		.section-row-1{
			width: 100%;
			height:60vh;
		}

		.section-column-1 img{
			float:none;
		}
		.content-column-1{
			float:none;
			text-align: center;
			width: 100%;
		}
		.content-column-1 .content-message-1 h2{
			margin-bottom: 0;
		}
		.content-column-1 .content-message-1 p{
			margin:0 auto;
			text-align: justify;
			font-size:small;
		}
	
		/* Second row */
		.section-row-2{
			width: 100%;
			min-height: 50vh;
		}
		.section-column-2 img{
			float:none;
		}
		.content-column-2{
			float:none;
			text-align: center;
			width: 100%;
		}
		.content-column-2 .content-message-2 h2{
			margin-bottom: 0;
		}
		.content-column-2 .content-message-2 p{
			margin:0 auto;
			text-align: justify;
			font-size:small;
		}
		/* Section-row-3 */
		.section-row-3{
			width: 100%;
			min-height: 55vh;
		}
		.section-column-3 img{
			float:none;
		}
		.content-column-3{
			float:none;
			text-align: center;
			width: 100%;
		}
		.content-column-3 .content-message-3 h3{
			margin-bottom: 0;
		}
		.content-column-3 .content-message-3 p{
			margin:0 auto;
			text-align: justify;
			font-size:small;
		}

		/* Section-row-4 */
		.section-row-4{
			width: 100%;
			min-height:60vh;
		}
		.section-column-4 img{
			float:none;
		}
		.content-column-4{
			float:none;
			text-align: center;
			width: 100%;
		}
		.content-column-4 .content-message-4 h3{
			margin-bottom: 0;
		}
		.content-column-4 .content-message-4 p{
			margin:0 auto;
			text-align: justify;
			font-size:small;
		}
	}

	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}
