/* CSS Reset*/

*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

/*Nav*/

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(42, 46, 78);
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: white;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: white;
	margin: 5px;
	background-color: white;

}

.logo {
	height:100px;
}
.logo img{
	height: 100px;
	object-fit: cover;
}

a{
	text-decoration: none;
	color:white;

}
.text{
	height: 22px;
	color: white;
}

/*End nav */
.container{
	min-height: 100vh;
	width: 100%;
}


nav.color {
	background:rgba(42, 46, 78,.8);
}



.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	padding:20px;
	background-color:rgb(42, 46, 78);
	color: white;
	text-align: center;

}






.first-content img{
	width: 100%;
	height: 90vh;
	object-fit: cover;
	background-position: center center;
}

.first-content h2{
	position:absolute;	
	color: rgb(245, 245, 245);
	background-color: rgba(1,1,1,0.5);
	font-size: 35px;
	top:30%;
	left:30%;
}

.second-content .par{
	padding-right: 10%;
	margin-left: 100px;

}


.second-content h1{
	text-align: center;
	color: orange;
}

.row {
	padding-top: 20px;
	display: inline-block;
}

.card1{
	margin-left: 2px;
	margin-right: 5px;
	height: auto;
	padding: 20px;
	width: 33%;
	float: left;
}

.card2{
	margin-right: 5px;
	height: auto;
	padding: 20px;
	width: 33%;
	float: left;
}

.card3{
	padding:20px;
	height: auto;
	width: 33%;
	float: left;
}


.card1 i{
	text-align: center;
	display: block;
}

.card2 i{
	text-align: center;
	display: block;
}
.card3 i{
	text-align: center;
	display: block;
}

.card1, .card2, .card3 p{
	text-align: justify;
}



/*media queries*/

@media screen and (min-width: 761px) and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}
	.first-content h2{
		text-align: center;
		font-size:35px;
		position:static;
		background-color: rgb(60, 53, 79);
	}
	.card1, .card2, .card3{
		border:none;
		margin:10px auto;
		width: 100%;
		float:none;
	}
}
	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 95vh;
			top: 10vh;
			background-color: rgba(42, 46, 78,0.8);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;			
		}
		
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

		.container{
			min-height: 100vh;
			width: 100%;
		}
		
		.container img{
			width: 100%;
			object-fit: cover;
		}
		.first-content h2{
			background-color: rgb(60, 53, 79);
			color: white;
			width: 100%;
			height: auto;
			text-align: center;
			font-size:30px;
			position: static;
		}

		.second-content{
			font-size: x-small;
			text-align: center;
		}
		
		

		.second-content .par{
			text-align: justify;
			font-size: x-small;

			padding-right: 20px;
			margin-left:20px;




		}
		.row {
			margin-top: 20px;
		}
		
		.card1, .card2, .card3 {
			margin-top: 10px;			
			width: 80%;
			display: inline-block; 
			height: auto;		
			float: none;	
		}

		h1{
			text-align: center;
		}
		.a p{
			color: black;
			font-size: medium;
			text-align: justify;
		}


		.b p{
			color: black;
			font-size: medium;
			text-align: justify;
		}
		.c p{
			color: black;
			font-size: medium;;
			text-align: justify;
		}

		.card1 i{
			text-align: center;
			display: block;
		}

		.card2 i{
			text-align: center;
			display: block;
		}
		.card3 i{
			text-align: center;
			display: block;
		}
		.nav-active{
			transform: translateX(0%);
		}
	}


	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}