/* CSS Reset*/

*  {
	padding: 0;
	margin:0;
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}

/*Nav*/

nav	{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color:rgb(42, 46, 78);
	position: fixed;
	width: 100%;
	margin-top: 0px;
	z-index: 1;
	font-family: 'Advent Pro', sans-serif;

}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;

}
.nav-links:active {
	text-decoration: blink;
}
.nav-links li {
	list-style: none;

}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}
.nav-links a:active {
	color: white;

}

.burger	{
	display: none;
	cursor: pointer;
}

.burger div {
	height: 5px;
	width: 25px;
	color: white;
	margin: 5px;
	background-color: white;

}

.logo {
	height:100px;
}


.text{
	height: 22px;
	color: white;
}

nav.color {
	background:rgba(42, 46, 78,.8);
}
/*End nav */

/* Container*/
.container{
	width: 100%;
	min-height: 150vh;
}


.site-main .services-area{
    padding:7rem 2rem;
}

.site-main .services-area .services-title{
    padding:0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}
.site-main > .services-area .services{
    background: rgba(248,252,253,0.973);
    padding:2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}



.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding:20px;
	background-color:rgb(42, 46, 78);
	color: white;
	text-align: center;

}

@media screen and (max-width:1024px){
	.nav-links {
		display: flex;
		justify-content: space-around;
		width: 60%;

	}

	@media screen and (max-width:760px){
		body {
			overflow-x: hidden;
		}
		.nav-links {
			position: absolute;
			right: 0px;
			height: 95vh;
			top: 10vh;
			background-color: rgba(42, 46, 78,0.8);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.5s ease-in;			
		}
		
		.nav-links li {
			opacity: 70%;
		}
		.burger {
			display: block;
		}

		.container{
			padding-bottom: 60px;
			min-height: 100vh;
			width: 100%;
			margin-bottom: 10px;

		}
		
		.container img{
			width: 100%;
		}

		}


	@keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0px);

		}
	}